{% extends 'base.html' %}
{% block title %}登录 - PVN三厂技术部网页系统{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white py-3">
                    <h4>🦞 PVN三厂技术部网页系统</h4>
                    <h5>用户登录</h5>
                </div>
                <div class="card-body p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger text-center">
                            工号或密码错误，请重新输入
                        </div>
                    {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label fw-bold">工号</label>
                            <input type="text" name="username" class="form-control" placeholder="请输入工号" required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-bold">密码</label>
                            <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 py-3">
                            登录
                        </button>
                    </form>

                    <div class="text-center mt-4 small text-muted">
<!--                        测试账号：<br>-->
<!--                        管理员 → 工号 <strong>admin001</strong> / 密码 <strong>123456</strong><br>-->
<!--                        普通用户 → 工号 <strong>user001</strong> / 密码 <strong>123456</strong>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}