{% extends 'base.html' %}
{% block title %}所有报警记录{% endblock %}
{% block content %}
<h2>所有报警记录（红灯报警）</h2>

<table class="table table-striped">
    <thead>
        <tr><th>设备</th><th>类型</th><th>等级</th><th>时间</th><th>状态</th><th>描述</th></tr>
    </thead>
    <tbody>
        {% for a in alarms %}
        <tr>
            <td>{{ a.equipment.name }}</td>
            <td>{{ a.alarm_type }}</td>
            <td>{{ a.level }}</td>
            <td>{{ a.occur_time|date:"Y-m-d H:i" }}</td>
            <td>{{ a.status }}</td>
            <td>{{ a.desc|truncatewords:10 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}